@page "/"

<PageTitle>Index</PageTitle>

<CButton Text="Primary CBUTTON" ButtonStyle="ButtonStyle.Primary" OnClick="@(()=>Click("Primary CBUTTON"))"></CButton>
<CButton Text="Secondary CBUTTON" ButtonStyle="ButtonStyle.Secondary" OnClick="@(()=>Click("Secondary CBUTTON"))"></CButton>

<CButton Text="FullWidth Primary CBUTTON" ButtonStyle="ButtonStyle.Primary" IsFullWidth="true" OnClick="@(()=>Click("FullWidth Primary CBUTTON"))"></CButton>


<CButton Text="Outline  CBUTTON" ButtonStyle="ButtonStyle.Secondary" Class="outline" OnClick="@(()=>Click("Outline Secondary CBUTTON"))"></CButton>
<CButton Text="Big Font Primary CBUTTON" ButtonStyle="ButtonStyle.Primary" Style="font-size:20px" OnClick="@(()=>Click("Big Font Primary CBUTTON"))"></CButton>

<div>@MyProperty</div>
